<footer class="footer">
    <div class="icon">
     <i class="fa-brands fa-facebook"></i>
     <i class="fa-brands fa-instagram"></i>
     <i class="fa-brands fa-youtube"></i>
    </div>
    <div class="company">&copy;A.J privated Limited</div>
     <div class="link">
     <a href="/privacy">privacy</a>
     <a href="/terms">Terms</a>
     </div>
</footer>